.envia_form{
    padding: 30px;
    background-color: #00913dff;
    border-radius: 20px;
}
.wrapper{
    right: 0;
    bottom: 0;
}
.wrapper form{
    margin-top: 15px;
    padding-top: 120px;
    padding-bottom: 50px;
}
.formulario{
    padding: 0;
    height: 100%;
    width: 100%;
    margin-left: 350px;
    height: 900px;
}
.wrapper label{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}
.wrapper input{
    margin: 5px;
    border-radius: 10px;
    padding: 9px;
    background-color: #c3ffbeff;
    width: 100%;
}
.wrapper button{
    background-color: #c3ffbeff;
    margin-left: 300px;
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
}
.wrapper{
    align-content: center;
}