/* Adicionando a fonte */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #f5f8faff;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
