.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper form {
  width: 400px;
  max-height: 300px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
.wrapper form legend {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.wrapper form input {
  height: 40px;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 5px;
  color: #555;
  font-weight: 400;
}
.wrapper form button {
  height: 40px;
  border-radius: 4px;
  background: #00913dff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.wrapper .erro {
  color: #dc143c;
  margin-bottom: 5px;
}
.wrapper a {
  color: #fff;
  font-weight: 400;
  padding: 5px 0;
}
